.ig-img {
  padding: 3px;
  width: 99%;
  border-radius: 5px;
}

.ig-fail {
  background: red;
  color: white;
}

.ig-card {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  margin: 3px;

  &:hover {
    box-shadow: 1px #cdc9c9;
  }
}

.slide-img {
  width: 100%;
  left:0;
  position: absolute;
  transition: left .2s ease-in;
  z-index: 1;
}

.slide-img-hide {
  position: relative;
  left: 980px;
  z-index: 0;
}
