.menu-content{
	background-color: white;
	color: gray;
		h1{
			border-bottom: 6px double black;
		}
		h2{
			border-bottom: 1px solid gray;
		}
	 ul.item {
            max-width: 50em;
            display: block;
            padding: 0;
            overflow-x: hidden;
            list-style: none
        }
        ul.item li:after {
            float: left;
            width: 0;
            white-space: nowrap;
            content: ". . . . . . . . . . . . . . . . . . . . "
                     ". . . . . . . . . . . . . . . . . . . . "
                     ". . . . . . . . . . . . . . . . . . . . "
                     ". . . . . . . . . . . . . . . . . . . . "
                     ". . . . . . . . . . . . . . . . . . . . "
                     ". . . . . . . . . . . . . . . . . . . . "
                     ". . . . . . . . . . . . . . . . . . . . "
                     ". . . . . . . . . . . . . . . . . . . . "
                     ". . . . . . . . . . . . . . . . . . . . "
                     
        }
        ul.item span:first-child {
            padding-right: 0.33em;
            background: white;
						font-size: 1.2rem;
        }
        ul.item span + span {
            float: right;
            padding-left: 0.33em;
            background: white;
            position: relative;
            z-index: 1
        }
        .seperator:after {
            content: "" !important;
        }
		.description{
			width: 75%;
			font-size: .7rem;
		}
		.buttons{
			padding-top: 5px;
			text-align: right;
				span{
					border-left: 1px solid gray;
					padding-left: 8px;
				}
				span:first-child{
					border: none;
					padding: 5px;
				}
			:hover{
				cursor: default;
			}
		}
	.alg-active{
		color: orange;
		position: relative;
		:hover{
			cursor: pointer;
		}
	}
	.fav-active{
		color: yellow;
	}
	.spicy-active{
		color: red;
	}
	.veg-active{
		color: green;
	}
	.buttons span span{
		background:#F8F8F8;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: -60px;
    left: 10%;
    display:none;
    padding:0 20px;
    width: 400px;
    height: auto;
	}
	
   .buttons span{
   	margin:1px;
    position:relative;
    cursor:pointer;
   }
	.buttons span:hover span{
		display: block;
		z-index: 500;
	}

}
.tabs{
	height: 30px;
	border-bottom: 1px solid gray;
	ul{ 
	list-style: none;
}
	a{
		float: left;
		text-decoration: none;
		color: gray;
	}
	a:hover{
		box-shadow: 0 0 1em #0A4348;
  	transition: 1s ease;
	}
}

.menu-hidden{
	display:none;
}
.reserve-content{
	display: none;
}
.reserve-active{
	display:block;
}
.location-content{
	display: none;
}
.location-active{
	display:block;
}
.story-content{
	display:none;
}
.story-active{
	display:block;
}
.libations{
	display: none;
}