 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Header
.header-container {

background-color: #026873;
background-image: linear-gradient(90deg, rgba(23, 23, 23, .07) 50%, transparent 50%),
linear-gradient(90deg, rgba(23, 23, 23, .13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(23, 23, 23, .17) 50%),
linear-gradient(90deg, transparent 50%, rgba(23, 23, 23, .19) 50%);
background-size: 13px, 29px, 37px, 100%;
border-bottom: 8px solid hsla(56, 90%, 61%, 1);
overflow: auto;
}

header {
  margin: 0 auto;
  overflow: auto;
  width: 980px;
  position: relative;
}
.icon-main {
  color: white;
  position: absolute;
  left: 89.4px;
  top: 48px;
}
.icon-sec {
  color: white;
  position: absolute;
  left: 105.4px;
  top: 149.9px;
}
.header-logo h1 {
  overflow: auto;
  font-size: 140px;
  float: left;
  padding-top: 50px;
  margin-top: 0px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -2px;
  margin-bottom: -24px;
}
.and {
  color: hsla(56, 90%, 61%, 1);
}
.header-logo h2 {
  font-size: 22.6px;
  clear: left;
  padding-left: 152px;
  margin-right: 0px;
  color: white;
  padding-bottom: 25px;
  font-family: 'Josefin Sans', sans-serif;
}
.social-media {
  list-style: none;
  font-size: 20px;
  margin-top: -110px;
  color: white;
  width: 130px;
  font-family: 'Josefin Sans', sans-serif;
  float: right;
  line-height: 20px;
}
.fa-facebook-official {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
  margin-left: -5px;
  margin-right: -8px;
  color: white;
}
.fa-facebook-official:hover {
  border: 3px solid hsla(56, 90%, 61%, 1);
  transition: 1s ease;
}

.fa-instagram {
  display: inline-block;
  padding-left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  margin-right: -8px;
  color: white;
  transition: 1s ease;
}
.fa-instagram:hover {
  border: 3px solid hsla(56, 90%, 61%, 1);
}
.fa-twitter {
  display: inline-block;
  padding-left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  margin-right: -8px;
  color: white;
  transition: 1s ease;
}
.fa-twitter:hover {
  border: 3px solid hsla(56, 90%, 61%, 1);
  transition: 1s ease;
}
.fa-pinterest {
  display: inline-block;
  padding-left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  margin-right: -5px;
  color: white;
  transition: 1s ease;
}
.fa-pinterest:hover {
  border: 3px solid hsla(56, 90%, 61%, 1);
  transition: 1s ease;
}
// Container 

.outer-container{
  @include outer-container;
  width: 980px;
}

// Latest news
.news {
  @include span-columns(6);
  min-height: 200px;
  background-color: none;
  margin-top: 45px;

  h4 {
    font-family: 'Lato', sans-serif;
    color: HSLA(185, 100%, 23%, 1);
    padding-bottom: 2px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding-left: 8px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    height: 100%;
    font-weight: 900;
    text-transform: uppercase;
  }
  h4 .newsdate {
    font-family: 'Lato', sans-serif;
    color: black;
    float: right;
    text-transform: capitalize;
    padding-top: 8px;
    font-size: 17px;
    margin-top: 0px;
    letter-spacing: 0px;
  }

  li {
      list-style: none;
      font-size: 21px;
      color: gray;
      font-weight: bold;
      font-style: oblique;
      font-family: 'Lato', sans-serif;
      padding-top: 6px;
      letter-spacing: 1px;
      padding-bottom: 3px;
    }
  p {
      margin-top: -2px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      font-family: 'Lato', sans-serif;
    }
}

.daily-special{
  @include span-columns(6);
  @include omega();
}

.header-slideshow{
  @include span-columns(12);
  @include omega();
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 25px 0;
}

main{
  @include span-columns(9);
}

aside{
  @include span-columns(3);
  @include omega();
}

// Footer
.footer-container {
background-color: #026873;
background-image: linear-gradient(90deg, rgba(23, 23, 23, .07) 50%, transparent 50%),
linear-gradient(90deg, rgba(23, 23, 23, .13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(23, 23, 23, .17) 50%),
linear-gradient(90deg, transparent 50%, rgba(23, 23, 23, .19) 50%);
background-size: 13px, 29px, 37px 100%;
height: 90px;
overflow: auto;
margin-top: 26px;
border-top: 8px solid hsla(56, 90%, 61%, 1);
overflow: auto;
}
footer  {
  list-style: none;
  color: white;
  margin: 0 auto;
  overflow: auto;
  width: 980px;
  font-size: 24px;
  padding-top: 22px;
  font-family: 'Josefin Sans', sans-serif;
} 
.foottagline {
    font-size: 15px;
    color: white;
}
.footaddress {
    padding-top: 7px;
    font-size: 15px;
    float: right;
    width: 350px;
    color: white;
    text-align: right;
}

@import 'ss';
@import 'ap';
@import 'sb';
