 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Header

.header-container{
  background-color: lightgray;
  height: 50px;
  margin: 0 auto;
}

.header {
  height: 50px;
  background-color: gray;

}

// Container 

.outer-container{
  @include outer-container;
  width: 980px;
  background-color: green;

}

.news{
  @include span-columns(6);
  height: 100px;
  background-color: blue;

}

.daily-special{
  @include span-columns(6);
  @include omega();
  height: 100px;
  background-color: orange;

}

.header-slideshow{
  @include span-columns(12);
  @include omega();
  height: 400px;
  background-color: yellow;

}

.main{
  @include span-columns(9);
  height: 700px;
  background-color: blue;
}

aside{
  @include span-columns(3);
  @include omega();
  height: 400px;
  background-color: orange;

}

.icon-white, .nav-pills > .active > a > [class^="icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}


.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}


.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.nav-pills > .active > a {
  color: #ffffff;
  background-color: #0088cc;
}


.nav-pills .data-toggle {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.pill-content > .pill-pane {
  display: none;
}

.pill-content > .active {
  display: block;
}

// Footer

footer{
  height: 50px;
  background-color: gray;
}