<<!DOCTYPE html>
<html>
<head>
	<title>Trini's Selection</title>
</head>
<body>


<div class="row">
	<a class="landing" style="background: transparent url('http:  ;" href="/images/">
			<span class="menu">menu</span>
	</a>

  <h1>HIP &amp SPUR</h1>
</div>

<script type="text/template" id="daily_specials">
  <img src="<%= image_url  %>" "" />
  <ul>
    <li><%= story %></story></li>
    <li> menu <%= menu %></li>
    <li> specials <%= specials %></li>
    <li> specials <%= specials %></li>
  </ul>
</script>
var template = $('TriniDaily').html();
var  = _.template(template);

<!-- $.getJSON('http://private-edf3a-hipandspur.apiary-mock.com/notes/id) { -->
        $('.container').append( render(??) );
});

<div class="container">
	<div class="requestInfo">
		<nav>
	    	<a href="#"/'https://c2.staticflickr.com/8/7018/6814221063_da37530690_b.jpg'>story</a>
          		
          		 | 
	  		<a href="#"/'https://c2.staticflickr.com/8/7165/6814221437_7a0e43fb17_z.jpg'>menu</a>
       		
          		
      		<a href="#"/'https://c4.staticflickr.com/8/7031/6814220687_82c6324f49_b.jpg.jpg'/>specials</a>
          		
          		 | 
      		<a href="#"/'https://farm8.staticflickr.com/7028/6814219589_747391fdd8.jpg'>libations</a>

      	</nav>
    </div>  	
</div>       

</body>
</html>

          		